.dogs
    position: relative
.dog-img
    background-image: url(../img/dog1.jpg)
    height: 60vh
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    background-attachment: fixed
    filter: blur(2px)

.text
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)

.text h1
    color: #fff
    font-size: 70px
    font-family: gloss

.img-all
    text-align: center

.img-all .all-images img
    width: calc(100vw*0.32)
    padding: 0
    margin: 0

.img-all .all-images img:nth-child(1), .img-all .all-images img:nth-child(3), .img-all .all-images img:nth-child(5) 
    transform: scale(.6)
